@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(
        90deg,
        hsla(208, 33%, 21%, 1) 0%,
        hsla(202, 27%, 45%, 1) 100%
    );
}
